# copy to pds.env and fill with own stuff

PDS_HOSTNAME=         # example.com
PDS_JWT_SECRET=       # $ openssl rand --hex 16
PDS_ADMIN_PASSWORD=   # $ openssl rand --hex 16
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX= # $ openssl ecparam --name secp256k1 --genkey --noout --outform DER | tail --bytes=+8 | head --bytes=32 | xxd --plain --cols 32

# Email options (pick one)
## Email
PDS_EMAIL_SMTP_URL=     # smtp://<user>:<pass>@smtp.gmail.com:587
PDS_EMAIL_FROM_ADDRESS= # admin@example.com
PDS_MODERATION_EMAIL_SMTP_URL= # smtp://<user>:<pass>@smtp.gmail.com:587
PDS_MODERATION_EMAIL_ADDRESS=  # mod@example.com
## Resend
PDS_EMAIL_SMTP_URL=     # smtps://resend:<api key>@smtp.resend.com:465/
PDS_EMAIL_FROM_ADDRESS= # admin@example.com
PDS_MODERATION_EMAIL_SMTP_URL= # smtp://resend:<api key>@smtp.resend.com:465
PDS_MODERATION_EMAIL_ADDRESS=  # mod@example.com

# Data Storage
PDS_DATA_DIRECTORY=/data
PDS_BLOBSTORE_DISK_LOCATION=/data/blocks

# Using BlueSky defaults
PDS_DID_PLC_URL=https://plc.directory
PDS_BSKY_APP_VIEW_URL=https://api.bsky.app
PDS_BSKY_APP_VIEW_DID=did:web:api.bsky.app
PDS_REPORT_SERVICE_URL=https://mod.bsky.app
PDS_REPORT_SERVICE_DID=did:plc:ar7c4by46qjdydhdevvrndac
PDS_CRAWLERS=https://bsky.network

# May not need this in prod, but whatever; logs are inexpensive, amiright?
LOG_ENABLED=true
